body {
  height: 48rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 251, 252, 1) 39%,
    rgba(214, 224, 232, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: linear-gradient(
    129deg,
    rgba(248, 248, 248, 0.8) 0%,
    rgba(231, 232, 231, 0.8) 20%,
    rgba(218, 218, 218, 0.8) 100%
  );
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #cfcfcf;
}

/* container */

.text-editor__container {
  width: 60rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  border-radius: 1rem;
  padding: 2rem;
  opacity: 0.8;
  background: linear-gradient(
    315deg,
    rgba(252, 252, 252, 0.8) 0%,
    rgba(252, 252, 252, 0.8) 100%,
    rgba(252, 252, 252, 0.8) 100%
  );
  box-shadow: 10px 9px 29px 8px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 10px 9px 29px 8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 10px 9px 29px 8px rgba(0, 0, 0, 0.17);
}

/* btns */

.text-editor__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  margin-right: 26rem;
  z-index: 1;
}

.text-editor__edit-btns {
  width: 4rem;
  height: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.text-editor__edit-btns > i {
  margin: 0.2rem;
  align-items: center;
}

.active {
  background-color: aqua;
}

/* txt field */

.text-editor__field {
  width: 40rem;
  height: 20rem;
  font-family: "Montserrat";
  z-index: 1;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 55px 17px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 2px 2px 55px 17px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 2px 2px 55px 17px rgba(0, 0, 0, 0.04);
}

/* data-btns */

.text-editor__data-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18rem;
  z-index: 1;
}

.text-editor__load-save-btns {
  margin: 2rem 0 0 2rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 1rem;
}
